body
{
    font-family: sans-serif;
}

nav ul
{
    margin: 0;
    padding: 0;

    list-style: none;
}
nav ul li
{
    display: inline-block;

    vertical-align: middle;
}
nav ul li a
{
    padding: .25em 1em;
}

.current
{
    background-color: #f60;
}
