body {
    font-family: sans-serif;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
        display: inline-block;
        vertical-align: middle;
        a {
            padding: .25em 1em;
        }
    }
}

.current {
    background-color: #f60;
}