---
layout: master
title: Interfaces
meta: User interfaces by Mike Peutz
---

{% assign inter = site.galleries | where:"category", "interface"  | first %}

<div class="mp-wrap mp-interface mp-post">

    <div class="" style="width: 100%;">
        <div class="mp-post-header mp-elem mp-exit-slideUp">
            <div class="mp-post-image mp-img-loader" {% if inter.image %} data-src='{{site.baseurl}}{{inter.image}}' {% else %} data-src='{{site.baseurl}}/assets/images/fallback.jpg' {% endif %}></div>
            <h1 class="mp-post-title" itemprop="name">{{inter.title}}</h1>
        </div>

        <div class="mp-element mp-fade">
            <div class="mp-cell-wrap">
                <div class="mp-container">
                    {% for image in site.interface %} {% assign loopindex = forloop.index | modulo: 3 %} {% if loopindex == 1 %}
                    <div class="mp-cell {% cycle " wide-top ", "tall-right ", "tall-left " %}">
                        <div class="mp-cell-content" style="background-image: url('{{ image.image }}')">
                            <a class="mp-cell-link" href="{{ image.url }}"></a>
                        </div>
                        {% elsif loopindex == 2 %}
                        <div class="mp-cell-content" style="background-image: url('{{ image.image }}')">
                            <a class="mp-cell-link" href="{{ image.url }}"></a>
                        </div>
                        {% else %}
                        <div class="mp-cell-content" style="background-image: url('{{ image.image }}')">
                            <a class="mp-cell-link" href="{{ image.url }}"></a>
                        </div>
                    </div>
                    {% endif %} {% endfor %}
                </div>
                <a class="mp-back-link" href="/portfolio">Back to portfolio</a>
            </div>
        </div>
    </div>
</div>
