---
layout: master
title: Traditional
meta: Traditional artwork by Mike Peutz
---


    {% assign trad = site.galleries | where:"category", "traditional"  | first %}
    <div class="mp-wrap mp-traditional mp-post">

        <div class="" style="width: 100%;">
            <div class="mp-post-header mp-elem mp-exit-slideUp">
                <div class="mp-post-image mp-img-loader" {% if trad.image %} data-src='{{site.baseurl}}{{trad.image}}' {% else %} data-src='{{site.baseurl}}/assets/images/fallback.jpg' {% endif %}></div>
                <h1 class="mp-post-title" itemprop="name">{{trad.title}}</h1>
            </div>

            <div class="mp-element mp-fade">
                <div class="mp-cell-wrap">
                    <div class="mp-container">
                        {% for image in site.traditional %} {% assign loopindex = forloop.index | modulo: 3 %} {% if loopindex == 1 %}
                        <div class="mp-cell {% cycle " wide-top ", "tall-right ", "tall-left " %}">
                            <div class="mp-cell-content" style="background-image: url('{{site.baseurl}}/assets/images/{{ image.image }}')">
                                <a class="mp-cell-link" href="{{ image.url }}"></a>
                            </div>
                            {% elsif loopindex == 2 %}
                            <div class="mp-cell-content" style="background-image: url('{{site.baseurl}}/assets/images/{{ image.image }}')">
                                <a class="mp-cell-link" href="{{ image.url }}"></a>
                            </div>
                            {% else %}
                            <div class="mp-cell-content" style="background-image: url('{{site.baseurl}}/assets/images/{{ image.image }}')">
                                <a class="mp-cell-link" href="{{ image.url }}"></a>
                            </div>
                        </div>
                        {% endif %} {% endfor %}
                    </div>
                    <a class="mp-back-link" href="/portfolio">Back to portfolio</a>
                </div>
            </div>
        </div>
    </div>
