*
    box-sizing: border-box
html,
body
    height: 100%
    padding: 0
    margin: 0
body
    font-family: 'open sans', sans-serif
    letter-spacing: 0.01rem
    color: #3A4145

.content-wrap,
.main,
body,
html
    min-height: 100%
.main,
.content-wrap
    margin-bottom: -30px
.content-wrap:after
    content: ""
    display: block
.footer, .page-wrap:after
    height: 30px

p,
.serif
    font-family: Georgia, serif
    line-height: 1.75em
    font-size: 1.15em
    -webkit-font-feature-settings: 'liga' 1, 'onum' 1, 'kern' 1
    -moz-font-feature-settings: 'liga' 1, 'onum' 1, 'kern' 1
    -o-font-feature-settings: 'liga' 1, 'onum' 1, 'kern' 1
    margin: 0 0 1.75em 0

h1,
h2,
h3
    font-weight: 300

.full-width
    width: 100%

.column-width
    width: 1140px
    margin: auto

.header
    background-image: url('../assets/images/growth2.jpg')
    background-size: cover
    background-position: 50%
    width: 100%
    height: 800px
    position: relative
    background-blend-mode: overlay
    animation: colors 30s linear infinite

.header-group
    position: relative
    top: 20%
    left: 0
    width: 90%
    text-align: center
    margin: auto


.header-title
    color: rgba(255,255,255,.9)
    font-weight: 900
    font-size: 7em
    letter-spacing: 22px

.header-subtitle
    color: #fff
    font-style: italic
    font-size: 1.5em
    width: 400px
    margin: auto
    margin-top: 60px

.navbar
    background-color: #fcfcfb

nav
    position: absolute
    top: 0
    left: 0
    z-index: 10

nav ul
    list-style: none
    margin: 0
    padding: 0
    font-size: 0

    li
        display: inline-block
        vertical-align: middle
        font-size: 14px
        position: relative
        a
            padding: 1.5em 2em
            text-decoration: none
            color: #fff
            display: inline-block
            text-transform: uppercase
            position: relative

.current
    background-color: rgba(255, 255, 255, .4)
.home .scene_element
    background-color: #fff
.home .current
    background-color: transparentize(#ddd, .7)
.gallery .scene_element
    background-color: #1e8bc3
.gallery .current
    background-color: transparentize(#a3ddff, .7)
.blog .scene_element
    //background-color: #1ba39c
    background-color: #fff
.blog .current
    //background-color: transparentize(#a1d8be, .7)
.lab .scene_element
    //background-color: #e87e04
    background-color: #fff
.lab .current
    //background-color: transparentize(#ffe58e, .7)
.about .scene_element
    background-color: #f64747
.about .current
    background-color: transparentize(#ffc0b0, .7)

.blog-article .scene_element
    //background-color: #f62459
    background-color: #fff
.lab-article .scene_element .post-header
    background-color: #87d37c
.lab-article .scene_element
    background-color: #fff


.made-in
    text-align: center

h1,
h2
    margin: 0

.post-header,
.blog-header,
.lab-header
    height: 65vh
    min-height: 180px
    background-position: 50%
    background-size: cover
    margin-bottom: 3em
    h1
        position: relative
        top: 32.5vh
        transform: translateY(-50%)
        text-align: center
        color: #fff
        font-size: 3.5em
        max-width: 720px
        margin: auto
h6
    position: relative
    text-transform: uppercase
.blog-header,
.lab-header
    height: 45vh
    h1
        top: 22.5vh
.blog-header
    background-image: url('../assets/images/abstract II.png')
.lab-header
    background-image: url('../assets/images/Piggy.png')
.post-content,
.share
    max-width: 720px
    margin: auto
    padding-bottom: 2em
.post-content
    padding-top: 2em
.footer,
.content-wrap:after
    height: 30px

.article-list
    list-style: none
    margin: 0 auto
    padding: 0
    width: 720px
    h1
        width: 720px
    a
        text-decoration: none
        color: #999
    p
        color: #555
.article-list-thumb
    height: 80px
    width: 80px
    border-radius: 50%
    float: left
    background-size: cover
    shape-outside: circle(42px at 48.2% 50.85%)
    margin-right: 30px

.blog-heading,
.lab-heading
    margin-bottom: 2em

.flash,
.shader
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    z-index: 10
svg.flash .disc
    animation: fader .6s
    fill: rgba(255,255,255,0.8)
svg.shader .disc
    animation: fader .6s
    fill: rgba(0,0,0,.3)
@keyframes fader
    to
        fill: rgba(255, 255, 255, 0)

.heart-oregon
    height: 20px
    width: 20px
    display: inline-block
    position: relative
    top: 5px
    .svg-path
        fill: none
        stroke: rgba(0,0,0,.5)
        stroke-width: 8px