---
layout: master
title: Blog
exerpt: blog about design, art, technology and things that intreset me.
paginate: 2
paginate_path: "/blog/page:num"
---
<div class="blog">

    {% include base-nav.html navclass='top-nav' %}

    <div class="scene_element scene_element--fadeinscale">

        <!-- Add your site or application content here -->
        <div class="blog-header">
            <h1>Blog</h1>
        </div>

        <ul class="article-list">
            {% for article in site.categories.blog %}
            <li class="scene_element-{{forloop.index}} scene_element--fadeinup">
                <a href="{{site.baseurl}}{{ article.url }}">
                  <div class="article-list-thumb" style=" background-color: #87d37c; {% if article.img %} background-image: url('../assets/images/{{ article.img }}'); {% endif %} "></div>
                  <h2>{{ article.title }}</h2>
                  <p>{{ article.exerpt }}</p>
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>