/* ==========================================================================
    Initialize v1.1.0
   ========================================================================== */

*,
*:after,
*:before {
    box-sizing: border-box;
	}

html,
body {
    //height: 100%;
    margin: 0;
    padding: 0;
	}

body {
    background-color: $body-color;
    background-image: linear-gradient(to bottom, lighten($body-color, 30), $body-color);
    box-shadow: inset 0 0 20px rgba(0, 0, 0, .25), inset 0 0 10px rgba(0, 0, 0, .4);

    text-rendering: optimizeLegibility;
	}

.mp-page-back {
    min-height: calc(100vh - 48px);
    position: relative;
	}


footer {
    display: none;
    padding-top: .8em;
    padding-bottom: .6em;
	}

@media (min-width: #{$mobile}) {
    .mp-page-back {
        min-height: calc(100vh - 130px);
        margin-right: 2.5em;
        margin-left: 2.5em;
	    }
	}
