/* ==========================================================================
    Share
   ========================================================================== */

.mp-share-title {
    font-family: 'Futura', sans-serif;
    font-size: 12px;
    padding-bottom: 1em;
    text-align: center;
    text-transform: uppercase;
	}

.mp-share-links {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;

    justify-content: space-around;
    align-items: center;
	}

.mp-share-link svg {
    width: 24px;
    height: 24px;
    transition: opacity .3s ease-out;
    opacity: .5;

    fill: $text-color;
	}

.mp-share-link:hover svg {
    opacity: 1;
	}
