/* ==========================================================================
    About
   ========================================================================== */

.mp-about .mp-one {
    background-image: url('../assets/images/avatar.jpg');
	}

.mp-about .mp-two {
    justify-content: center;
    align-items: center;
}
.mp-pane-content {
    max-width: 75%;
	}
