---
layout: master
title: Labs
exerpt: experiments with SASS, jQuery and other front end elements.
paginate: 2
paginate_path: "/lab/page:num"
---

<div class="lab">

    {% include base-nav.html navclass='top-nav' %}

    <div class="scene_element scene_element--fadeinscale">

        <!-- Add your site or application content here -->
        <div class="lab-header">
            <h1>Lab</h1>
        </div>

        <ul class="article-list">
            {% for lab in site.categories.lab %}
            <li class="scene_element-{{forloop.index}} scene_element--fadeinup">
                <a href="{{site.baseurl}}{{ lab.url }}">
                  <div class="article-list-thumb" style=" background-color: #87d37c; {% if lab.img %} background-image: url('../assets/images/{{ lab.img }}'); {% endif %} "></div>
                  <h2>{{ lab.title }}</h2>
                  <p>{{ lab.exerpt }}</p>
                </a>
            </li>
            {% endfor %}
        </ul>

    </div>
</div>