---
layout: master
---

<div class="blog-article" itemscope itemtype="http://schema.org/Article">

    {% include base-nav.html navclass='top-nav' %}

    <div class="scene_element scene_element--fadeinscale">
    <div class="post-header" style="background-image: url('../assets/images/{{ page.img }}');">
        <h1 itemprop="name">{{page.title}}</h1>
    </div>

        <div class="post-content">
            <h6 itemprop="datePublished" content="{{ page.date | date: "%Y-%m-%d" }}">{{ page.date | date: '%B %d, %Y' }}</h6>
            {{content}}
        </div>


        <div class="share">
            {% if page.source %}<p>Source: <a href="{{page.source}}">{{page.source}}</a></p>{% endif %}
            <a class="btn" href="http://twitter.com/intent/tweet?url=http://www.peutzdesign.com//{{ page.permalink }}&text={{page.title}}&via=mpeutz" target="_blank">Tweet</a> | <a class="btn" href="http://facebook.com/sharer.php?u=http://www.peutzdesign.com/{{page.permalink}}" target="_blank">Like</a> | <a class="btn" href="https://plus.google.com/share?url=http://www.peutzdesign.com/{{page.permalink}}" target="_blank">+1</a> | <a href="https://www.linkedin.com/shareArticle?mini=true&url=http://www.peutzdesign.com/{{page.permalink}}&title={{page.title}}&summary={{ post.exerpt }}" target="_blank">LinkedIn</a> | <a href="https://pinterest.com/pin/create/button/?url='http://www.peutzdesign.com/{{page.permalink}}&media=http://www.peutzdesign.com/assets/images/{{page.img}}&description={{ page.exerpt }}" target="_blank">Pin it</a>
        </div>

    </div>
</div>