---
layout: master
---

<div class="mp-post mp-blog-article" itemscope itemtype="http://schema.org/Article">

    <div class="">
    <div class="mp-post-header mp-elem mp-exit-slideUp">
        <div class="mp-post-image mp-img-loader" {% if page.img %} data-src='{{site.baseurl}}/assets/images/{{ page.img }}' {% else %} data-src='{{site.baseurl}}/assets/images/fallback.jpg' {% endif %}>{{asset-path}}</div>
            <h1 class="mp-post-title" itemprop="name">{{page.title}}</h1>
            {% if page.tags %}
            <div class="mp-post-tags">
                {% for tag in page.tags %}
                <span  class="mp-post-tag">{{tag.tag}}</span>
                {% endfor %}
            </div>
            {% endif %}
    </div>

    <div class="mp-element mp-slideDown">

    <div class="mp-post-meta ">
        <div class="mp-post-readablity">
            {% assign reading_time = content | strip_html | number_of_words | plus:91 | divided_by:180 %}
            {% if reading_time <= 1 %}
              {% assign reading_time = '1' | append:' min read' %}
            {% else %}
              {% assign reading_time = reading_time | append:' min read' %}
            {% endif %}
            <span class="mp-article-readtime">{{ reading_time }}</span>
        </div>
        <div class="mp-post-date" itemprop="datePublished" content="{{ page.date | date: "%Y-%m-%d" }}">{{ page.date | date: '%B %d, %Y' }}</div>
    </div>

    <div class="mp-post-content">
        {{content}}
        {% if page.source %}<div class="mp-source">Source: <a href="{{page.source}}">{{page.source}}</a></div>{% endif %}

        <div class="mp-post-navigation">
                {% for post in site.categories.blog %}
                {% if post.url == page.url %}
                    {% assign post_index0 = forloop.index0 %}
                    {% assign post_index1 = forloop.index %}
                {% endif %}
                {% endfor %}
                {% for post in site.categories.blog %}
                    {% if post_index0 == forloop.index %}
                        {% assign next_post = post.url %}
                        {% assign next_title = post.title %}
                    {% endif %}
                    {% if post_index1 == forloop.index0 %}
                        {% assign prev_post = post.url %}
                        {% assign prev_title = post.title %}
                    {% endif %}
                {% endfor %}
                {% if prev_post %}
                <a  class="mp-PREV" href="{{ prev_post }}">{{prev_title}}</a> <br>
                {% endif %}
                {% if next_post %}
                    <a  class="mp-next" href="{{ next_post }}">{{next_title}}</a> <br>
                {% endif %}
            </div>
    </div>

        {% include share.html %}


        {% include author.html %}

    </div>
    <div class="mp-post-back"><a href="/blog" style="text-decoration:none;"><svg class="mp-post-arrow" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 576"><path d="M41.3 310.7l192 192c12.5 12.4 32.8 12.4 45.3 0 12.5-12.6 12.5-33 0-45.4L141.2 320h371c17.6 0 32-14.3 32-32s-14.4-32-32-32H141l137.4-137.3c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.4 0l-192 192c-6.2 6.2-9.4 14.4-9.3 22.6-.2 8.2 3 16.4 9.3 22.7z"/></svg><div class="mp-post-backtext">
        Back to Blog
        </div></a></div>
</div>
</div>
