---
layout: master
---

<div class="mp-post mp-gallery-page" itemscope itemtype="http://schema.org/Article">

    <div class="">

        <div class="mp-gallery-header">
            <div class="mp-gallery-title" itemprop="name">{{page.title}} </div>
            <div class="mp-gallery-meta">
                <div class="mp-gallery-dimension">
                    {{page.dimension}}
                </div>
                <div class="mp-gallery-app">
                    {{page.app}}
                </div>
            </div>
        </div>

        <div class="mp-gallery-image mp-img-loader" {% if page.image %} data-src='{{ page.image }}' {% else %} data-src='{{site.baseurl}}/assets/images/fallback.jpg' {% endif %}>{{asset-path}}</div>

        <div class="mp-element mp-slideDown">


            <div class="mp-post-content">

                {{content}}
                <a class="mp-back-link" href="/{{page.collection}}">Back to {{page.collection}}</a>
            </div>

            {% include share.html %}

        </div>
    </div>
</div>
