<!doctype html>
<html class="no-js" lang="">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title %}{{page.title}} . {% endif %}Peutzdesign{% if page.titleAfter %} . {{page.titleAfter}}{% endif %}</title>
    <meta name="description" content="{{page.meta}}">


    <!-- When we generate critical CSS -->
    <style type="text/css">
        { % include critical.css % }
        .no-js svg { display: none !important; }
    </style>

    <link rel="icon" href="{{site.baseurl}}/assets/favicon/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="{{site.baseurl}}/assets/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="{{site.baseurl}}/assets/favicon/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="{{site.baseurl}}/assets/favicon/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="{{site.baseurl}}/assets/favicon/manifest.json">
    <link rel="mask-icon" href="{{site.baseurl}}/assets/favicon/safari-pinned-tab.svg" color="#eb5757">
    <meta name="theme-color" content="#eb5757">

    <link rel="alternate" type="application/rss+xml" title="Peutzdesign RSS" href="/feed.xml" />

</head>


<body id="body">
    <main id="main" class="main mp-scene">
        <!--[if lt IE 9]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <header id="navigation">
            {% include navigation.html navclass='top-nav' %}
        </header>

        <div id="content" class="mp-page" data-page="{% if page.title %}mp-{{ page.url | replace:'/',' ' | truncatewords: 1 | remove:'...' }}{% else %}mp-home{% endif %}">
            <!-- {% include loader.html %} -->
            <div class="mp-page-back">
                <div class="mp-content {% if page.is_post %} is-post{% endif %} {% if page.layout == 'gallery'%} is-post{% endif %}">
                    {{content}}
                </div>
            </div>

            <footer id="footer">
                {% include footer.html %}
            </footer>
        </div>
    </main>


    <script async src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script async src="{{site.baseurl}}/script/script.js"></script>

    <noscript id="deferred-styles">
      <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/main.css"/>
    </noscript>
    <script>
        var loadDeferredStyles = function() {
            var addStylesNode = document.getElementById("deferred-styles");
            var replacement = document.createElement("div");
            replacement.innerHTML = addStylesNode.textContent;
            document.body.appendChild(replacement)
            addStylesNode.parentElement.removeChild(addStylesNode);
        };
        var raf = requestAnimationFrame || mozRequestAnimationFrame ||
            webkitRequestAnimationFrame || msRequestAnimationFrame;
        if (raf) raf(function() {
            window.setTimeout(loadDeferredStyles, 0);
        });
        else window.addEventListener('load', loadDeferredStyles);
    </script>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
        (function(b, o, i, l, e, r) {
            b.GoogleAnalyticsObject = l;
            b[l] || (b[l] =
                function() {
                    (b[l].q = b[l].q || []).push(arguments)
                });
            b[l].l = +new Date;
            e = o.createElement(i);
            r = o.getElementsByTagName(i)[0];
            e.src = '//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e, r)
        }(window, document, 'script', 'ga'));
        ga('create', 'UA-11132408-11', 'auto');
        ga('send', 'pageview');
    </script>
</body>
</html>
